'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Developer Tools Themes'
        'submenu': [
          { 'label': 'Settings', 'command': 'dev-tools-themes:settingsView' }
        ]
      }
    ]
  }
  {
    'label': 'View'
    'submenu': [
      'label': 'Developer'
      'submenu': [
        {
          'label': 'Dev Tools Theme Settings', 'command': 'dev-tools-themes:settingsView'
        }
      ]
    ]
  }
]
