'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Developer Tools Themes'
        'submenu': [
          { 'label': 'Zero Dark Matrix', 'command': 'dev-tools-themes:zerodarkmatrix' }
          { 'label': 'Default', 'command': 'dev-tools-themes:defaultTheme' }
        ]
      }
    ]
  }
  {
    'label': 'View'
    'submenu': [
      'label': 'Developer'
      'submenu': [
        {
          'label': 'Developer Tools Themes'
          'submenu': [
            { 'label': 'Zero Dark Matrix', 'command': 'dev-tools-themes:zerodarkmatrix' }
            { 'label': 'Default', 'command': 'dev-tools-themes:defaultTheme' }
          ]
        }
      ]
    ]
  }
]
